body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Разделение элементов по краям */
    align-items: center; /* Выравнивание по вертикали */
}

.auth-button {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.auth-button:hover {
    background-color: #0056b3;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    background-color: #333;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    transition: background-color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
    text-shadow: 0 0 5px #ffcc00;
    background-color: #444; /* светлее, чем основной фон #333 */
    border-radius: 4px; /* необязательно, но делает края мягче */
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}


